.Input {
  width: 90%;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
}

.Label {
  margin: 0 0 8px;
  color: white;
  font-size: 2rem;
  float: left;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: #ccc;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
